# Ignore the entire virtual environment/Anaconda folders
venv/
env/
Lib/
Scripts/
DLLs/
include/
conda-meta/
etc/
Library/
libs/
Menu/
opt/
share/
Tools/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore large data files or log files
*.log
*.csv
*.json
*.dll